body {
  font-family: theme("fontFamily.sans");
}

a:not([class*="button-"]) {
  @apply text-orange-400;
  &:hover {
    @apply text-orange-500;
  }
}

.menu-items a {
  border-bottom-width: theme("borderWidth.2");
  border-color: transparent;
}
.menu-items a.active--exact {
  border-color: theme("colors.orange.400");
  &:hover {
    border-color: theme("colors.orange.500");
  }
}
.home-header {
  box-shadow: inset 0 100px 100px -20px rgb(254, 248, 241);
  background-image: url("../images/home-bg.png");
  background-size: auto 100%;
}

.button-primary {
  @apply inline-flex items-center border-2 justify-center rounded-l-md rounded-r-md font-bold leading-6 border-transparent text-gray-900 bg-orange-400 text-base py-2 px-3;
  &:hover {
    @apply bg-orange-300;
  }
  &:focus {
    @apply bg-orange-100 shadow-outline outline-none;
  }
  &:active {
    @apply bg-orange-400;
  }
}
.button-secondary {
  @apply inline-flex items-center border-2 justify-center rounded-l-md rounded-r-md font-bold leading-6 border-transparent text-white bg-cool-gray-500 text-base py-2 px-3;
  &:hover {
    @apply bg-cool-gray-600;
  }
  &:focus {
    @apply bg-cool-gray-700 shadow-outline outline-none;
  }
  &:active {
    @apply bg-cool-gray-500;
  }
}
